html:root {
    /* Palette Info */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans&family=Source+Code+Pro&display=swap');


    --ACV16: 'Loremly';
    --ACV17: 'Comet';

    /* Palette Fonts */
    --ACV18: 'Inter', sans-serif;
    --ACV19: 'Noto Sans', sans-serif;
    --ACV20: 'Source Code Pro', monospace;
}

.theme-dark,
.theme-darker,
.theme-midnight {
    /* Palette Background HSL */
    --ACV01: 232;
    --ACV02: 32%;
    --ACV03: 27%;
    --ACVA1: 1; 

    /* Palette Accent HSL */
    --ACV04: 170;
    --ACV05: 76%;
    --ACV06: 32%;
    --ACVA2: 1; 

    /* Palette Text HSL */
    --ACV07: 240;
    --ACV08: 11%;
    --ACV09: 92%;
    --ACVA3: 1; 

    /* Palette Interactive HSL */
    --ACV10: 213;
    --ACV11: 47%;
    --ACV12: 89%;
    --ACVA4: 1; 

    /* Background Modifier HSL */
    --ACV13: 170;
    --ACV14: 76%;
    --ACV15: 36%;
    --ACVA5: 1; 

    /* Border HSL */
    --ACV21: 218;
    --ACV22: 10%;
    --ACV23: 36%;
    --ACVA6: 1; 
}

.theme-light {
    /* Palette Background HSL */
    --ACV01: 210;
    --ACV02: 30%;
    --ACV03: 84%;
        --ACVA1: 1; /* New variable for light theme */

    /* Palette Accent HSL */
    --ACV04: 170;
    --ACV05: 76%;
    --ACV06: 32%;
        --ACVA2: 1; /* New variable for light theme */

    /* Palette Text HSL */
    --ACV07: 232;
    --ACV08: 9%;
    --ACV09: 29%;
        --ACVA3: 1; /* New variable for light theme */

    /* Palette Interactive HSL */
    --ACV10: 170;
    --ACV11: 65%;
    --ACV12: 32%;
        --ACVA4: 1; /* New variable for light theme */

    /* Background Modifier HSL */
    --ACV13: 170;
    --ACV14: 76%;
    --ACV15: 36%;
        --ACVA5: 1; /* New variable for light theme */

    /* Border HSL */
    --ACV21: 218;
    --ACV22: 10%;
    --ACV23: 36%;
        --ACVA6: 1; /* New variable for light theme */
}
