
html:root {
	/* Palette Background HSL */
	--ACV01: 223;
	--ACV02: 17%;
	--ACV03: 24%;

	/* Palette Accent HSL */
	--ACV04: 338;
	--ACV05: 92%;
	--ACV06: 42%;

	/* Palette Text HSL */
	--ACV07: 180;
	--ACV08: 5%;
	--ACV09: 87%;

	/* Palette Interactive HSL */
	--ACV10: 90;
	--ACV11: 3%;
	--ACV12: 87%;

	/* Background Modifier HSL */
	--ACV13: 338;
	--ACV14: 82%;
	--ACV15: 38%;

	/* Palette Info */

	--ACV16: 'CorellanStoma';
	--ACV17: 'CreArts';

	/* Palette Fonts */
	--ACV18: 'Quicksand', sans-serif;
	--ACV19: 'Montserrat', sans-serif;
	--ACV20: 'Consolas', monospace;

	/* Border HSL */
	--ACV21: 227;
    --ACV22: 19%;
    --ACV23: 39%;
}
