html:root {
	/* Palette Background HSL */
	--ACV01: 231;
	--ACV02: 15%;
	--ACV03: 18%;

	/* Palette Accent HSL */
	--ACV04: 265;
	--ACV05: 89%;
	--ACV06: 78%;

	/* Palette Text HSL */
	--ACV07: 60;
	--ACV08: 30%;
	--ACV09: 96%;

	/* Palette Interactive HSL */
	--ACV10: 281;
	--ACV11: 100%;
	--ACV12: 96%;

	/* Background Modifier HSL */
	--ACV13: 225;
	--ACV14: 27%;
	--ACV15: 51%;

	/* Palette Info */

	--ACV16: 'The Dracula Team';
	--ACV17: 'Dracula';

	/* Palette Fonts */
	--ACV18: 'font', sans-serif;
	--ACV19: 'font', sans-serif;
	--ACV20: 'font', monospace;
}
