
html:root {
	/* Albatross Background HSL */
	--ACV01: 240;
	--ACV02: 6%;
	--ACV03: 14%;

	/* Albatross Accent HSL */
	--ACV04: 212;
	--ACV05: 100%;
	--ACV06: 38%;

	/* Albatross Text HSL */
	--ACV07: 227;
	--ACV08: 50%;
	--ACV09: 95%;

	/* Albatross Interactive HSL */
	--ACV10: 226;
	--ACV11: 100%;
	--ACV12: 96%;

	/* Background Modifier HSL */
	--ACV13: 212;
	--ACV14: 100%;
	--ACV15: 29%;

	/* Palette Info */

	--ACV16: 'HeroUI';
	--ACV17: 'HeroUI';

	/* Palette Fonts */
	--ACV18: 'Inter', sans-serif;
	--ACV19: 'Roboto', sans-serif;
	--ACV20: 'Fira Code', monospace;

	/* Border HSL */
	--ACV21: 225;
    --ACV22: 7%;
    --ACV23: 31%;
}
