/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Inter&family=Source+Code+Pro&display=swap');

html:root {
	/* Palette Info */

	--ACV16: 'DesireRK';
	--ACV17: 'Miyu';

	/* Palette Fonts */
	--ACV18: 'Montserrat', sans-serif;
	--ACV19: 'Inter', sans-serif;
	--ACV20: 'Source Code Pro', monospace;

}

.theme-dark,
.theme-darker,
.theme-midnight {
	/* Palette Background HSL */
	--ACV01: 245;
	--ACV02: 17%;
	--ACV03: 14%;
	--ACVA1: 1;

	/* Palette Accent HSL */
	--ACV04: 307;
	--ACV05: 26%;
	--ACV06: 55%;
	--ACVA2: 1;

	/* Palette Text HSL */

	--ACV07: 287;
	--ACV08: 60%;
	--ACV09: 99%;
	--ACVA3: 1;

	/* Palette Interactive HSL */
	--ACV10: 281;
	--ACV11: 100%;
	--ACV12: 96%;
	--ACVA4: 1;

	/* Background Modifier HSL */
	--ACV13: 265;
	--ACV14: 27%;
	--ACV15: 40%;
	--ACVA5: 1;

	/* Border HSL */
	--ACV21: 285;
    --ACV22: 10%;
    --ACV23: 34%;
	--ACVA6: 1;
}

.theme-light {
	/* Palette Background HSL */
	--ACV01: 290;
	--ACV02: 40%;
	--ACV03: 84%;
	--ACVA1: 1;

	/* Palette Accent HSL */
	--ACV04: 307;
	--ACV05: 26%;
	--ACV06: 55%;
	--ACVA2: 1;

	/* Palette Text HSL */

	--ACV07: 287;
	--ACV08: 23%;
	--ACV09: 40%;
	--ACVA3: 1;

	/* Palette Interactive HSL */
	--ACV10: 281;
	--ACV11: 87%;
	--ACV12: 86%;
	--ACVA4: 1;

	/* Background Modifier HSL */
	--ACV13: 265;
	--ACV14: 27%;
	--ACV15: 40%;
	--ACVA5: 1;

	/* Border HSL */
	--ACV21: 285;
    --ACV22: 10%;
    --ACV23: 34%;
	--ACVA6: 1;
}
