/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Space+Mono&display=swap');

html:root{
	/* Palette Info */

	--ACV16: 'Arctic Ice Studio';
	--ACV17: 'Nord';

	/* Skin Fonts */
	--ACV18: 'Rubik', sans-serif;
	--ACV19: 'Rubik', sans-serif;
	--ACV20: 'Space Mono', monospace;
}

.theme-dark,
.theme-darker,
.theme-midnight {
	/* Albatross Background HSL */
	--ACV01: 220;
	--ACV02: 17%;
	--ACV03: 32%;
	--ACV-01: 1;

	/* Albatross Accent HSL */
	--ACV04: 354;
	--ACV05: 42%;
	--ACV06: 56%;
	--ACV-02: 1;

	/* Albatross Text HSL */
	--ACV07: 180;
	--ACV08: 5%;
	--ACV09: 87%;
	--ACV-03: 1;

	/* Albatross Interactive HSL */
	--ACV10: 90;
	--ACV11: 3%;
	--ACV12: 87%;
	--ACV-04: 1;

	/* Background Modifier HSL */
	--ACV13: 220;
	--ACV14: 17%;
	--ACV15: 32%;
	--ACV-05: 1;

	/* Border HSL */
	--ACV21: 209;
	--ACV22: 17%;
	--ACV23: 42%;
	--ACV-06: 1;
}

.theme-light {
	/* Albatross Background HSL */
	--ACV01: 220;
	--ACV02: 28%;
	--ACV03: 88%;
	--ACV-01: 1;

	/* Albatross Accent HSL */
	--ACV04: 354;
	--ACV05: 42%;
	--ACV06: 56%;
	--ACV-02: 1;

	/* Albatross Text HSL */
	--ACV07: 222;
	--ACV08: 16%;
	--ACV09: 27%;
	--ACV-03: 1;

	/* Albatross Interactive HSL */
	--ACV10: 213;
	--ACV11: 32%;
	--ACV12: 37%;
	--ACV-04: 1;

	/* Background Modifier HSL */
	--ACV13: 220;
	--ACV14: 17%;
	--ACV15: 32%;
	--ACV-05: 1;

	/* Border HSL */
	--ACV21: 209;
	--ACV22: 17%;
	--ACV23: 42%;
	--ACV-06: 1;
}
