@use 'map' as *;

@mixin ac-hslvar-func($map, $var, $h-base, $s-base, $l-base, $saturation: null) {
	@each $id, $calc in $map {
		// maps in map.scss

		$h-calc: nth($calc, 1); // first value

		$s-calc: nth($calc, 2); // second value

		$l-calc: nth($calc, 3); // third value

		$o: nth($calc, 4); // fourth opacity value (usually always 1)

		@if $saturation {
			// If saturation, add saturation factor
			--#{$var}-#{$id}: hsla(calc(#{$h-base} #{$h-calc}),
				calc(var(--saturation-factor) * calc(#{$s-base} #{$s-calc})),
				calc(#{$l-base} #{$l-calc}),
				#{$o}) !important;
		}

		@else {
			// Regular hsl
			--#{$var}-#{$id}: hsla(calc(#{$h-base} #{$h-calc}),
				calc(#{$s-base} #{$s-calc}),
				calc(#{$l-base} #{$l-calc}),
				#{$o}) !important;
		}
	}
}

.theme-dark,
.theme-darker,
.theme-midnight,
.visual-refresh .theme-dark,
.visual-refresh.theme-darker,
.visual-refresh .theme-midnight,
.visual-refresh.theme-darker,
.visual-refresh.theme-midnight {
	@include ac-hslvar-func($ACBG-DARK, 'background', var(--ACV01), var(--ACV02), var(--ACV03));
	@include ac-hslvar-func($ACI, 'interactive', var(--ACV10), var(--ACV11), var(--ACV12), saturation);
	@include ac-hslvar-func($ACT, 'text', var(--ACV07), var(--ACV08), var(--ACV09), saturation);
	@include ac-hslvar-func($ACBM, 'background-modifier', var(--ACV13), var(--ACV14), var(--ACV15), saturation);
	@include ac-hslvar-func($ACA, 'brand', var(--ACV04), var(--ACV05), var(--ACV06), saturation);
	@include ac-hslvar-func($ACA, 'accent', var(--ACV04), var(--ACV05), var(--ACV06), saturation);
	@include ac-hslvar-func($ACBP, 'blurple', var(--ACV04), var(--ACV05), var(--ACV06), saturation);
	--text-link: var(--brand-500);
}