@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
html:root {
  --ACV-COMMIT: "1bdf8d1" ;
}

html.theme-dark, html.visual-refresh.theme-dark, html.visual-refresh .theme-dark, html.visual-refresh .theme-darker, html.visual-refresh .theme-midnight,
html .theme-dark,
html .visual-refresh .theme-dark,
html .visual-refresh .theme-darker,
html .visual-refresh .theme-midnight {
  --background-primary: hsla(calc(var(--ACV01)  + 0),
  	calc(var(--ACV02)  + 0%),
  	calc(var(--ACV03)  + 0%),
  	1) !important;
  --background-secondary: hsla(calc(var(--ACV01)  - 1),
  	calc(var(--ACV02)  + 2%),
  	calc(var(--ACV03)  - 4%),
  	1) !important;
  --background-secondary-alt: hsla(calc(var(--ACV01)  - 2),
  	calc(var(--ACV02)  + 5%),
  	calc(var(--ACV03)  + 7%),
  	1) !important;
  --background-tertiary: hsla(calc(var(--ACV01)  - 2),
  	calc(var(--ACV02)  + 6%),
  	calc(var(--ACV03)  - 11%),
  	1) !important;
  --background-floating: hsla(calc(var(--ACV01)  - 2),
  	calc(var(--ACV02)  + 5%),
  	calc(var(--ACV03)  - 8%),
  	1) !important;
  --background-surface-high: hsla(calc(var(--ACV01)  + 2),
  	calc(var(--ACV02)  + 4%),
  	calc(var(--ACV03)  - 3%),
  	1) !important;
  --interactive-normal: hsla(calc(var(--ACV10)  + 0),
  	calc(var(--saturation-factor) * calc(var(--ACV11)  + 0%)),
  	calc(var(--ACV12)  + 0%),
  	1) !important;
  --interactive-hover: hsla(calc(var(--ACV10)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV11)  + 2%)),
  	calc(var(--ACV12)  - 4%),
  	1) !important;
  --interactive-active: hsla(calc(var(--ACV10)  - 2),
  	calc(var(--saturation-factor) * calc(var(--ACV11)  + 5%)),
  	calc(var(--ACV12)  + 7%),
  	1) !important;
  --interactive-disabled: hsla(calc(var(--ACV10)  - 2),
  	calc(var(--saturation-factor) * calc(var(--ACV11)  + 6%)),
  	calc(var(--ACV12)  - 11%),
  	1) !important;
  --text-primary: hsla(calc(var(--ACV07)  + 0),
  	calc(var(--saturation-factor) * calc(var(--ACV08)  + 0%)),
  	calc(var(--ACV09)  + 0%),
  	1) !important;
  --text-secondary: hsla(calc(var(--ACV07)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV08)  + 2%)),
  	calc(var(--ACV09)  - 4%),
  	1) !important;
  --text-active: hsla(calc(var(--ACV07)  - 2),
  	calc(var(--saturation-factor) * calc(var(--ACV08)  + 5%)),
  	calc(var(--ACV09)  + 7%),
  	1) !important;
  --text-muted: hsla(calc(var(--ACV07)  - 2),
  	calc(var(--saturation-factor) * calc(var(--ACV08)  + 6%)),
  	calc(var(--ACV09)  - 11%),
  	1) !important;
  --text-header: hsla(calc(var(--ACV07)  - 2),
  	calc(var(--saturation-factor) * calc(var(--ACV08)  + 6%)),
  	calc(var(--ACV09)  - 11%),
  	1) !important;
  --background-modifier-hover: hsla(calc(var(--ACV13)  + 1),
  	calc(var(--saturation-factor) * calc(var(--ACV14)  - 6%)),
  	calc(var(--ACV15)  - 12%),
  	.4) !important;
  --background-modifier-selected: hsla(calc(var(--ACV13)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV14)  + 4%)),
  	calc(var(--ACV15)  - 8%),
  	.7) !important;
  --background-modifier-active: hsla(calc(var(--ACV13)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV14)  - 9%)),
  	calc(var(--ACV15)  + 4%),
  	1) !important;
  --background-modifier-accent: hsla(calc(var(--ACV13)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV14)  + 0%)),
  	calc(var(--ACV15)  - 0%),
  	1) !important;
  --brand-05a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -40%),
  	1) !important;
  --brand-10a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -32%),
  	1) !important;
  --brand-15a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -24%),
  	1) !important;
  --brand-20a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -16%),
  	1) !important;
  --brand-25a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -8%),
  	1) !important;
  --brand-30a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  0%),
  	1) !important;
  --brand-35a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +8%),
  	1) !important;
  --brand-40a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +16%),
  	1) !important;
  --brand-45a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +24%),
  	1) !important;
  --brand-50a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +32%),
  	1) !important;
  --brand-55a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-60a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-65a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-70a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-75a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-80a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-85a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-90a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-95a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-100a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --brand-100: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 11%)),
  	calc(var(--ACV06)  - 25%),
  	1) !important;
  --brand-130: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 13%)),
  	calc(var(--ACV06)  - 23%),
  	1) !important;
  --brand-160: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 13%)),
  	calc(var(--ACV06)  - 22%),
  	1) !important;
  --brand-200: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 12%)),
  	calc(var(--ACV06)  - 22%),
  	1) !important;
  --brand-230: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 10%)),
  	calc(var(--ACV06)  - 20%),
  	1) !important;
  --brand-260: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 07%)),
  	calc(var(--ACV06)  - 19%),
  	1) !important;
  --brand-300: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 06%)),
  	calc(var(--ACV06)  - 15%),
  	1) !important;
  --brand-330: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 04%)),
  	calc(var(--ACV06)  - 12%),
  	1) !important;
  --brand-360: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 4%)),
  	calc(var(--ACV06)  - 11%),
  	1) !important;
  --brand-400: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 2%)),
  	calc(var(--ACV06)  - 10%),
  	1) !important;
  --brand-430: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 1%)),
  	calc(var(--ACV06)  - 08%),
  	1) !important;
  --brand-460: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 05%),
  	1) !important;
  --brand-500: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 00%),
  	1) !important;
  --brand-530: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 4%)),
  	calc(var(--ACV06)  + 6%),
  	1) !important;
  --brand-560: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 12%)),
  	calc(var(--ACV06)  + 13%),
  	1) !important;
  --brand-600: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 17%)),
  	calc(var(--ACV06)  + 16%),
  	1) !important;
  --brand-630: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 18%)),
  	calc(var(--ACV06)  + 18%),
  	1) !important;
  --brand-660: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 22%)),
  	calc(var(--ACV06)  + 22%),
  	1) !important;
  --brand-700: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 30%)),
  	calc(var(--ACV06)  + 24%),
  	1) !important;
  --brand-730: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 34%)),
  	calc(var(--ACV06)  + 26%),
  	1) !important;
  --brand-760: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 40%)),
  	calc(var(--ACV06)  + 28%),
  	1) !important;
  --brand-800: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 45%)),
  	calc(var(--ACV06)  + 30%),
  	1) !important;
  --brand-830: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 51%)),
  	calc(var(--ACV06)  + 33%),
  	1) !important;
  --brand-860: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 66%)),
  	calc(var(--ACV06)  + 35%),
  	1) !important;
  --brand-900: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 75%)),
  	calc(var(--ACV06)  + 42%),
  	1) !important;
  --accent-05a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -40%),
  	1) !important;
  --accent-10a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -32%),
  	1) !important;
  --accent-15a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -24%),
  	1) !important;
  --accent-20a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -16%),
  	1) !important;
  --accent-25a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  -8%),
  	1) !important;
  --accent-30a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  0%),
  	1) !important;
  --accent-35a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +8%),
  	1) !important;
  --accent-40a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +16%),
  	1) !important;
  --accent-45a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +24%),
  	1) !important;
  --accent-50a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +32%),
  	1) !important;
  --accent-55a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-60a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-65a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-70a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-75a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-80a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-85a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-90a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-95a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-100a: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +40%),
  	1) !important;
  --accent-100: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 11%)),
  	calc(var(--ACV06)  - 25%),
  	1) !important;
  --accent-130: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 13%)),
  	calc(var(--ACV06)  - 23%),
  	1) !important;
  --accent-160: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 13%)),
  	calc(var(--ACV06)  - 22%),
  	1) !important;
  --accent-200: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 12%)),
  	calc(var(--ACV06)  - 22%),
  	1) !important;
  --accent-230: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 10%)),
  	calc(var(--ACV06)  - 20%),
  	1) !important;
  --accent-260: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 07%)),
  	calc(var(--ACV06)  - 19%),
  	1) !important;
  --accent-300: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 06%)),
  	calc(var(--ACV06)  - 15%),
  	1) !important;
  --accent-330: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 04%)),
  	calc(var(--ACV06)  - 12%),
  	1) !important;
  --accent-360: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 4%)),
  	calc(var(--ACV06)  - 11%),
  	1) !important;
  --accent-400: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 2%)),
  	calc(var(--ACV06)  - 10%),
  	1) !important;
  --accent-430: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 1%)),
  	calc(var(--ACV06)  - 08%),
  	1) !important;
  --accent-460: hsla(calc(var(--ACV04)  - 1),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 05%),
  	1) !important;
  --accent-500: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 00%),
  	1) !important;
  --accent-530: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 4%)),
  	calc(var(--ACV06)  + 6%),
  	1) !important;
  --accent-560: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 12%)),
  	calc(var(--ACV06)  + 13%),
  	1) !important;
  --accent-600: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 17%)),
  	calc(var(--ACV06)  + 16%),
  	1) !important;
  --accent-630: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 18%)),
  	calc(var(--ACV06)  + 18%),
  	1) !important;
  --accent-660: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 22%)),
  	calc(var(--ACV06)  + 22%),
  	1) !important;
  --accent-700: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 30%)),
  	calc(var(--ACV06)  + 24%),
  	1) !important;
  --accent-730: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 34%)),
  	calc(var(--ACV06)  + 26%),
  	1) !important;
  --accent-760: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 40%)),
  	calc(var(--ACV06)  + 28%),
  	1) !important;
  --accent-800: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 45%)),
  	calc(var(--ACV06)  + 30%),
  	1) !important;
  --accent-830: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 51%)),
  	calc(var(--ACV06)  + 33%),
  	1) !important;
  --accent-860: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  - 66%)),
  	calc(var(--ACV06)  + 35%),
  	1) !important;
  --accent-900: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 75%)),
  	calc(var(--ACV06)  + 42%),
  	1) !important;
  --blurple-1: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 40%),
  	1) !important;
  --blurple-2: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 39.2%),
  	1) !important;
  --blurple-3: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 38.4%),
  	1) !important;
  --blurple-4: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 37.6%),
  	1) !important;
  --blurple-5: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 36.8%),
  	1) !important;
  --blurple-6: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 36%),
  	1) !important;
  --blurple-7: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 35.2%),
  	1) !important;
  --blurple-8: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 34.4%),
  	1) !important;
  --blurple-9: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 33.6%),
  	1) !important;
  --blurple-10: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 32.8%),
  	1) !important;
  --blurple-11: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 32%),
  	1) !important;
  --blurple-12: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 31.2%),
  	1) !important;
  --blurple-13: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 30.4%),
  	1) !important;
  --blurple-14: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 29.6%),
  	1) !important;
  --blurple-15: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 28.8%),
  	1) !important;
  --blurple-16: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 28%),
  	1) !important;
  --blurple-17: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 27.2%),
  	1) !important;
  --blurple-18: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 26.4%),
  	1) !important;
  --blurple-19: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 25.6%),
  	1) !important;
  --blurple-20: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 24.8%),
  	1) !important;
  --blurple-21: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 24%),
  	1) !important;
  --blurple-22: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 23.2%),
  	1) !important;
  --blurple-23: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 22.4%),
  	1) !important;
  --blurple-24: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 21.6%),
  	1) !important;
  --blurple-25: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 20.8%),
  	1) !important;
  --blurple-26: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 20%),
  	1) !important;
  --blurple-27: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 19.2%),
  	1) !important;
  --blurple-28: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 18.4%),
  	1) !important;
  --blurple-29: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 17.6%),
  	1) !important;
  --blurple-30: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 16.8%),
  	1) !important;
  --blurple-31: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 16%),
  	1) !important;
  --blurple-32: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 15.2%),
  	1) !important;
  --blurple-33: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 14.4%),
  	1) !important;
  --blurple-34: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - .6%),
  	1) !important;
  --blurple-35: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 12.8%),
  	1) !important;
  --blurple-36: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 12%),
  	1) !important;
  --blurple-37: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 11.2%),
  	1) !important;
  --blurple-38: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 10.4%),
  	1) !important;
  --blurple-39: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 9.6%),
  	1) !important;
  --blurple-40: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 8.8%),
  	1) !important;
  --blurple-41: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 8%),
  	1) !important;
  --blurple-42: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 7.2%),
  	1) !important;
  --blurple-43: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 6.4%),
  	1) !important;
  --blurple-44: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 5.6%),
  	1) !important;
  --blurple-45: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 4.8%),
  	1) !important;
  --blurple-46: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 4%),
  	1) !important;
  --blurple-47: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 3.2%),
  	1) !important;
  --blurple-48: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 2.4%),
  	1) !important;
  --blurple-49: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 1.6%),
  	1) !important;
  --blurple-50: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  - 0.8%),
  	1) !important;
  --blurple-51: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + %),
  	1) !important;
  --blurple-52: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 0.8%),
  	1) !important;
  --blurple-53: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 1.6%),
  	1) !important;
  --blurple-54: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 2.4%),
  	1) !important;
  --blurple-55: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 3.2%),
  	1) !important;
  --blurple-56: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 4%),
  	1) !important;
  --blurple-57: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 4.8%),
  	1) !important;
  --blurple-58: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 5.6%),
  	1) !important;
  --blurple-59: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 6.4%),
  	1) !important;
  --blurple-60: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 7.2%),
  	1) !important;
  --blurple-61: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 8%),
  	1) !important;
  --blurple-62: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 8.8%),
  	1) !important;
  --blurple-63: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 9.6%),
  	1) !important;
  --blurple-64: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 10.4%),
  	1) !important;
  --blurple-65: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 11.2%),
  	1) !important;
  --blurple-66: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 12%),
  	1) !important;
  --blurple-67: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 12.8%),
  	1) !important;
  --blurple-68: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 13.6%),
  	1) !important;
  --blurple-69: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 14.4%),
  	1) !important;
  --blurple-70: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 15.2%),
  	1) !important;
  --blurple-71: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 16%),
  	1) !important;
  --blurple-72: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 16.8%),
  	1) !important;
  --blurple-73: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 17.6%),
  	1) !important;
  --blurple-74: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 18.4%),
  	1) !important;
  --blurple-75: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 19.2%),
  	1) !important;
  --blurple-76: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 20%),
  	1) !important;
  --blurple-77: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 20.8%),
  	1) !important;
  --blurple-78: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 21.6%),
  	1) !important;
  --blurple-79: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 22.4%),
  	1) !important;
  --blurple-80: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  +  23.2%),
  	1) !important;
  --blurple-81: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 24%),
  	1) !important;
  --blurple-82: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 24.8%),
  	1) !important;
  --blurple-83: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + .6%),
  	1) !important;
  --blurple-84: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 26.4%),
  	1) !important;
  --blurple-85: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + .2%),
  	1) !important;
  --blurple-86: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 28%),
  	1) !important;
  --blurple-87: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 28.8%),
  	1) !important;
  --blurple-88: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 29.6%),
  	1) !important;
  --blurple-89: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 30.4%),
  	1) !important;
  --blurple-90: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 31.2%),
  	1) !important;
  --blurple-91: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 32%),
  	1) !important;
  --blurple-92: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 32.8%),
  	1) !important;
  --blurple-93: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 33.6%),
  	1) !important;
  --blurple-94: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 34.4%),
  	1) !important;
  --blurple-95: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 35.2%),
  	1) !important;
  --blurple-96: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 36%),
  	1) !important;
  --blurple-97: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 36.8%),
  	1) !important;
  --blurple-98: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 37.6%),
  	1) !important;
  --blurple-99: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 38.4%),
  	1) !important;
  --blurple-100: hsla(calc(var(--ACV04)  - 0),
  	calc(var(--saturation-factor) * calc(var(--ACV05)  + 0%)),
  	calc(var(--ACV06)  + 40%),
  	1) !important;
}
html:root {
  --text-link: var(--brand-500);
  --background-mobile: var(--background-secondary) !important;
  --input-background: var(--background-floating) !important;
  --background-accent: var(--brand-500) !important;
  --modal-background: var(--background-primary) !important;
  --mention-background: var(--background-accent) !important;
  --mention-foreground: var(--brand-900) !important;
  --status-active: placeholder;
  --status-dnd: placeholder;
  --status-invisible: placeholder;
  --status-streaming: placeholder;
  --status-idle: placeholder;
  --message-background: var(--background-primary);
  --message-background-hover: var(--background-tertiary);
  --message-background-mentioned: var(--background-accent);
  --message-background-mentioned-hover: var(--brand-330);
  --scrollbar-thin-thumb: var(--brand-500) !important;
  --scrollbar-auto-thumb: var(--brand-500) !important;
  --green-primary: #43b581;
  --green-secondary: #61d09a;
  --green-tertiary: #209967;
  --yellow-primary: #faa61a;
  --yellow-secondary: #ffc23d;
  --yellow-tertiary: #dc8c00;
  --red-primary: #f04747;
  --red-secondary: #ff6660;
  --red-tertiary: #d12731;
  --purple-primary: #593695;
  --purple-secondary: #744fb1;
  --purple-tertiary: #3e207c;
  --blue-primary: #1d66d3;
  --blue-secondary: #264ca3;
  --blue-tertiary: #1e3685;
}
